/* styles/global#.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root .red {
  color: red;
}

#root .weather-summary {
  margin-bottom: 20px;
}

#root .forecast {
  display: flex;
  justify-content: space-between;
}

#root .forecast-item {
  flex: 1;
  text-align: center;
}

#root .search input {
  padding: 8px;
}

#root .search button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
}

#root .bold {
  font-weight: bold;
}
#root .bold-center {
  font-weight: bold;
  text-align: center;
}

#root .flex {
  display: flex;
  align-items: center;
}

#root .flex-justify {
  justify-content: space-between;
  display: flex;
}

#root .align-right {
  display: inline-block;
  text-align: right;
}
#root .paper {
  padding: 10;
  margin: 10;
}
#root .paper-forcast {
  padding: 16px;
}

#root .flexGrow {
  flex-grow: 1;
}

#root .page {
  margin-bottom: 4rem;
  padding: 2rem;
}

#root .list-item {
  padding-bottom: 0;
  padding-top: 0;
}

#root .pointer:hover {
  cursor: pointer;
  text-decoration: underline;
}

#root .fontSize17 {
  font-size: 17px;
}

#root .error-fallback {
  color: red;
  padding: 2rem;
  text-align: center;
}
